---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Title from '../components/Title.astro';
import Gallery from '../components/Gallery.astro';
import SektionBanner from '../components/SektionBanner.astro';
import SektionInfo from '../components/SektionInfo.astro';
import badmintonPic from '../images/index/badminton.svg';

import Banner from '../images/badminton/Banner.webp';
import BannerLg from '../images/badminton/BannerLg.webp';

import Closeup1 from '../images/badminton/Closeup1.webp';
import Pokale from '../images/badminton/Pokale.webp';
import PokaleSmall from '../images/badminton/PokaleSmall.webp';
import image1 from '../images/badminton/image1.webp';
import image2 from '../images/badminton/image2.webp';
import image3 from '../images/badminton/image3.webp';
import image4 from '../images/badminton/image4.webp';
import image5 from '../images/badminton/image5.webp';
import image6 from '../images/badminton/image6.webp';
import image7 from '../images/badminton/image7.webp';
import image8 from '../images/badminton/image8.webp';
import image9 from '../images/badminton/image9.webp';
import abschluss from '../images/badminton/abschluss.webp';



---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ASV Mals</title>
    <style is:global>
        @import '../styles/global.css'; 
      </style>
    <link rel="preload" href="/fonts/univermag.ttf" as="font" type="font/ttf" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

  <Header></Header>

  
	<SektionBanner
	Sektion="Badminton"
	Banner={Closeup1.src}
	BannerMobile={Banner.src}
	Icon={badmintonPic.src}
	/>


	<SektionInfo 
	Sektionsleiter="Stefan De March" 
	Telefon="+39 335 5855123" 
	Email="malles@badmintonitalia.net"
	Instayes="Instagram"
	Insta="https://www.instagram.com/asv_mals_badminton/"
	Facebook="https://www.facebook.com/ASVMalsBadminton/" 
	Web="www.badmintonmals.it"
	Webadress="http://www.badmintonmals.it"
	Image1Big={BannerLg.src} 
	Image1Small={Closeup1.src} 
	Image2Big={PokaleSmall.src}
	Image2Small={Pokale.src}
	Image1Alt="Raffael"
	Image2Alt="Pregame"
	Fotogalerie="Fotogalerie"
	/>

	
  	<Title title="Fotogalerie"/>

	<Gallery 
	image1={image1.src} image1Alt="badminton"
	image2={image2.src} image2Alt="badminton"
	image3={image6.src} image3Alt="badminton"
	image4={image4.src} image4Alt="badminton"
	image5={image5.src} image5Alt="badminton"
	image6={image9.src} image6Alt="badminton"
	image7={image7.src} image7Alt="badminton"
	image8={image3.src} image8Alt="badminton"
	image9={image8.src} image9Alt="badminton"
	/>

	<img class="hidden lg:block" src={abschluss.src} alt="Federball" class="px-2 " />

	
  <Footer></Footer>

</body>
</html>
