---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Title from '../components/Title.astro';
import Gallery from '../components/Gallery.astro';
import SektionBanner from '../components/SektionBanner.astro';
import SektionInfo from '../components/SektionInfo.astro';
import Banner from '../images/fussball/bannerFussball.jpg';
import fussballPic from '../images/fussball/fussball.svg';
import raffiPic from '../images/fussball/raffi.jpg';
import raffiLg from '../images/fussball/raffi_lg.jpg';
import preGameLg from '../images/fussball/pregameLg.jpg';
import preGamesd from '../images/fussball/pregame_sd.jpg';
import pregamePic from '../images/fussball/pregame.png';
import spacePic from '../images/fussball/space.png';
import wieserPic from '../images/fussball/wieser.png';
import tizianPic from '../images/fussball/tizian.png';
import torjubelPic from '../images/fussball/torjubel.png';
import mentaPic from '../images/fussball/menta.png';
import schoepfPic from '../images/fussball/schoepf.png';
import ceolPic from '../images/fussball/ceol.png';
import trainingPic from '../images/fussball/training.png';
import MannschaftPic from '../images/fussball/Mannschaft.jpg';
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ASV Mals</title>
    <style is:global>
        @import '../styles/global.css'; 
      </style>
    <link rel="preload" href="/fonts/univermag.ttf" as="font" type="font/ttf" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

  <Header></Header>

  
	<SektionBanner
	Sektion="Fussball"
	Banner={Banner.src}
	BannerMobile={Banner.src}
	Icon={fussballPic.src}
	/>


	<SektionInfo 
	Sektionsleiter="Roland Mur" 
	Telefon="+39 3772410000" 
	Email="rolandmur@gmail.com" 
	Insta="https://www.instagram.com/asvmals_fussball/"
	Image1Big={raffiLg.src} 
	Image1Small={raffiPic.src} 
	Image2Big={preGameLg.src}
	Image2Small={preGamesd.src}
	Image1Alt="Raffael"
	Image2Alt="Pregame"
	Kader="Kader"
	News="News"
	Fotogalerie="Fotogalerie"
	/>



  	<Title title="Fotogalerie"/>

	<Gallery 
	image1={pregamePic.src} image1Alt="Aufwärmen"
	image2={spacePic.src} image2Alt="Kevin Platzgummer"
	image3={wieserPic.src} image3Alt="Paul Wieser"
	image4={ceolPic.src} image4Alt="Thomas Ceol"
	image5={trainingPic.src} image5Alt="Training"
	image6={tizianPic.src} image6Alt="Tizian Stecher"
	image7={mentaPic.src} image7Alt="Manuel Gambetta"
	image8={torjubelPic.src} image8Alt="Torjubel"
	image9={schoepfPic.src} image9Alt="Jan Schöpf"
	/>

	
	<img class="hidden lg:block" src={MannschaftPic.src} alt="Mannschaftsfoto" class="px-2 " />

  <Footer></Footer>

</body>
</html>
