---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import GeschichtePiece from '../components/geschichteSnipet.astro'
import GeschichteSnipet from '../components/geschichteSnipet.astro';
import oldsquad from '../images/geschichte/oldsquad.png';
import sportschuetzen from '../images/geschichte/sportschuetzen.png';
import albertFlora from '../images/geschichte/albertFlora.png';
import pic1976 from '../images/geschichte/1976.png';
import pic1980 from '../images/geschichte/1980.png';
import pic1988 from '../images/geschichte/1988.png';
import pic1991 from '../images/geschichte/1991.png';
import pic1995 from '../images/geschichte/1995.png';
import pic1998 from '../images/geschichte/1998.png';
import pic1999 from '../images/geschichte/1999.png';
import pic2000 from '../images/geschichte/2000.png';
import pic2004 from '../images/geschichte/2004.png';
import pic2007 from '../images/geschichte/2007.png';
import pic2012 from '../images/geschichte/2012.png';
import pic2018 from '../images/geschichte/2018.png';
import pic2023 from '../images/geschichte/2023.png';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>ASV Mals</title>
		<style is:global>
			@import '../styles/global.css';
		</style>
    <link rel="preload" href="/fonts/univermag.ttf" as="font" type="font/ttf" crossorigin>

		<link
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
			rel="stylesheet"
		/>
	</head>

	<body>
		<Header />

		<section class="Geschichte">
			<div class="w-full h-0.5 bg-primary mt-14"></div>

			<div class="relative ml-7">
				<div class="text-5xl lg:text-6xl font-univermag text-primary">Geschichte</div>
				<div class="font-oskari-g2-semibold lg:text-xl mt-16 font-bold uppercase text-primary">
					Vom Garber Acker zum Zentrum des Sports
				</div>
			</div>

			<div class="w-full h-0.5 bg-primary mt-2 mb-20"></div>

		</section>


			
		<GeschichtePiece
    		number1="19"
    		number2="65"
    		imageSrc={oldsquad.src}
    		imageAlt="Mannschaftsfoto"
    		textContent="Im Jahr 1965 wurde der Grundstein für den Verein gelegt, als der Sportverein Mals gegründet wurde. Ein Meilenstein in den frühen Jahren war die erstmalige Teilnahme einer Fußballmannschaft an einer regionalen Meisterschaft mit der Einschreibung beim italienischen Fußballverband. Die Anfänge waren nicht ohne Herausforderungen, denn die Heimspiele mussten damals noch auf dem Flugplatz des Nachbardorfes Schluderns ausgetragen werden. Bis 1967 der &quot;Garber-Acker&quot;, als Spielfeld in der eigenen Gemeinde, ins Leben gerufen wurde, der heute unter dem Synonym &quot;alter Sportplatz&quot; bekannt ist. Nur ein Jahr später, 1968, fand bereits das erste Heimspiel vor heimischem Publikum statt."
		/>


		<GeschichtePiece
			number1="19"
			number2="72"
			imageSrc={sportschuetzen.src}
			imageAlt="Mannschaftsfoto"
			textContent="In den 1970er Jahren begann man mit gezielter Jugendarbeit und ersten offiziellen Wettkampf-Teilnahmen, insbesondere im Bereich der Sportschützen, die 1972 in Goldrain ihren ersten Wettkampf erfolgreich bestritten."
		/>

		<GeschichtePiece
			number1="19"
			number2="73"
			imageSrc={albertFlora.src} width="w-2/4 object-cover float-right"
			imageAlt="Albert Flora"
			textContent="Albert Flora übernahm 1973 die Leitung der Fußballsektion und wurde 1974 Präsident des Gesamtvereins. Er setzte sich für die Schaffung von Infrastrukturen und Möglichkeiten ein, damit sich der Sport als &quot;herrlichste Nebensache der Welt&quot; im gesellschaftspolitischen Gefüge der Dorfgemeinschaft entwickeln konnte. Mit Weitblick kämpfte er darum, dass der Sport den gebührenden Stellenwert in der Gemeinde Mals erhielt und sich entwickeln konnte. Als junger engagierter Spieler gestaltete Albert Flora bereits die bescheidenen Anfänge des Malser Fußballvereins mit und prägte die Geschichte des Vereins bis 1991 entscheidend."
			/>
		
		
		<GeschichteSnipet 
			number1="19"
			number2="76"
			imageSrc={pic1976.src}
			imageAlt="1976"
			textContent="1976 markierte das Gründungsjahr der Sektion Badminton. Paul Wall war es, der den Badminton-Sport von Meran nach Mals gebracht hat. Er hat dadurch eine Badminton-Lawine in Mals losgetreten, die ihresgleichen sucht. Ohne seine Begeisterung zu diesem Sport wäre in Mals diese Sportart unbekannt geblieben und somit hätte man auf viele Erfolge und Sport-Geschichten verzichten müssen. Ein Jahr später wurde im Florahof, im Zentrum von Mals ,der erste Schießstand in Betrieb genommen, wo die Malser Sportschützen an zahlreichen Turnieren, auch außerhalb des Vinschgau, erfolgreich teilnahmen."
		/>

		<GeschichteSnipet 
			number1="19"
			number2="80"
			imageSrc={pic1980.src}
			imageAlt="1980"
			textContent="Im Jahr 1980 setzte sich die Erfolgsgeschichte des ASV Mals mit der Gründung der Sektion Tennis fort. Ein bedeutendes Ereignis war die Errichtung des ersten Tennisplatzes in der Sportzone von Mals im selben Jahr. Hinter diesem visionären Schritt stand erneut Albert Flora, der die Umsetzung dieses Projekts maßgeblich voran trieb. Die Entwicklung der Tennisanlagen nahm 1991 eine weitere positive Wendung, als der zweite Tennisplatz zusammen mit einer entsprechenden &quot;Tennishütte&quot; hinzugefügt wurde."
		/>

		<GeschichteSnipet 
			number1="19"
			number2="88"
			imageSrc={pic1988.src}
			imageAlt="1988"
			textContent="Parallel zu diesen sportlichen Entwicklungen setzte der Bau zahlreicher Sporthäuser den Trend einer wachsenden und sportbegeisterten Gemeinschaft fort. Mit der Einweihung der neuen Sportanlage in Mals 1988, spiegelte man nicht nur den Erfolg des Vereins wider, sondern auch die gestiegene Unterstützung der Gemeinde, die eine kontinuierliche Erweiterung der Sportinfrastruktur unterstützte. Der inzwischen gegründete Sportverband ASV Mals festigte somit nicht nur seine sportliche Präsenz, sondern trug auch zur baulichen Entwicklung und Lebensqualität in Mals bei."
		/>

		<GeschichteSnipet 
			number1="19"
			number2="91"
			imageSrc={pic1991.src} width="w-2/4 object-cover float-right"
			imageAlt="1991"
			textContent="Die Ära von 1991 bis 2013 war maßgeblich von Alfred Lingg geprägt, der in der Position des Sportpräsidenten fungierte. Während dieser Jahre zeigte Lingg herausragende Managerqualitäten, die entscheidend zur Gestaltung und Stärkung des ASV Mals beitrugen. Unter seiner Führung wurde das Vereinsgelände erneuert und ausgebaut. Es kamen die Wellnessanlage mit Saunalandschaften, das Freischwimmbad, die Kegelbahn und die Tennishalle dazu. &quot;Fred&quot; sorgte für eine tadellose Führung der Anlagen und machte diese unter dem Namen &quot;SportWell Mals&quot; bekannt. Während seiner Amtszeit als Sportpräsident konnte Lingg nicht nur die sportlichen Leistungen der Vereinsmitglieder vorantreiben, sondern auch eine positive Vereinskultur fördern. Sein Beitrag erstreckte sich über mehrere Jahre und trug dazu bei, den ASV Mals als eine bedeutende Institution im Malser Sport- und Gemeinschaftsleben zu etablieren."
		/>

		<GeschichteSnipet 
			number1="19"
			number2="95"
			imageSrc={pic1995.src}
			imageAlt="1995"
			textContent="Ende der 80er Jahre begann die glorreiche Zeit der Malser Triathleten. Drei Mitglieder waren es, die immer mehr Sportlerinnen und Sportler von der Faszination dieses anspruchsvollen Dreikampfs überzeugen konnten. Dies führte dazu, dass 1995 der erste Wintertriathlon in Mals veranstaltet wurde, der eine zusätzliche Dimension des Wettbewerbs einbrachte. Die steigende Begeisterung und Teilnahme am Triathlon führten schließlich im selben Jahr zur Gründung der eigenen Sektion Triathlon innerhalb des ASV Mals."
		/>

		<GeschichteSnipet 
			number1="19"
			number2="98"
			imageSrc={pic1998.src} 
			imageAlt="1998"
			textContent="Ein ebenso bedeutender Abschnitt in der Sportgeschichte von Mals war die Teilnahme des Skifahrers Ludwig Sprenger am ersten Weltcuprennen auf der Streif im Jahr 1998. Diese herausragende Leistung markierte nicht nur einen persönlichen Erfolg für Sprenger, sondern auch einen Meilenstein für den Wintersport der Gemeinde."
		/>

		<GeschichteSnipet 
			number1="19"
			number2="99"
			imageSrc={pic1999.src}
			imageAlt="1999"
			textContent="Ein Jahr später wurde in Mals der Kampfsport Yoseikan Budo zum Angebot hinzugefügt. Dies war ein weiterer Schritt der Diversifizierung der Sportangebote des ASV Mals. Die Einführung dieser Kampfkunst zeigte einmal mehr, dass in Mals nicht nur traditionelle Sportarten, sondern auch verschiedene Kampfsport-Disziplinen einen Platz finden."
		/>

		<GeschichteSnipet 
			number1="20"
			number2="00"
			imageSrc={pic2000.src}
			imageAlt="2000"
			textContent="Im Jahr 1999/2000 erzielte die Sektion Fußball mit dem Aufstieg in die Landesliga einen beeindruckenden sportlichen Erfolg. Diese Errungenschaft war von besonderer Bedeutung, da der Verein erstmals die Gelegenheit hatte, in der äußerst renommierten Fußballliga in Südtirol mitzustreiten. Dieser Aufstieg markierte einen historischen Meilenstein für die Sektion und den Verein insgesamt."
		/>

		<GeschichteSnipet 
			number1="20"
			number2="04"
			imageSrc={pic2004.src} 
			imageAlt="2004"
			textContent='Die Bogenschützen traten nun in den Fokus des Geschehens. Der Bogensport war in der Gemeinde Mals bis zum Jahr 2004 nahezu unbekannt, als der Bogenschützenverein "VENOSTARC" als eigenständige Sektion innerhalb des ASV Mals gegründet wurde. Diese Initiative trug dazu bei, den Bogensport in Mals zu etablieren und eröffnete eine neue Ära für alle Bogenschützen in der Gemeinde.'
			/>

		<GeschichteSnipet 
			number1="20"
			number2="07"
			imageSrc={pic2007.src} width="w-2/4 object-cover float-right"
			imageAlt="2007"
			textContent="Im Jahr 2007 errang Rudi Hölbling einen beeindruckenden Meilenstein, als er sich nach monatelange und intensivem Training in Frankfurt erfolgreich für den Ironman in Hawaii qualifizierte. Bei diesem herausfordernden Wettkampf, bei dem er sich mit den weltweit besten 2000 Triathleten messen musste, überquerte er erfolgreich die Ziellinie."
		/>

		<GeschichteSnipet 
			number1="20"
			number2="12"
			imageSrc={pic2012.src}
			imageAlt="2012"
			textContent='Im Jahr 2007 erfolgte die Fusion der Watles AG und der Sportanlagen AG, die zur Gründung der neuen Gesellschaft "Touristik & Freizeit AG" führte. Die strategische Zusammenführung markierte einen entscheidenden Fortschritt der Entwicklung der Malser Tourismus- und Freizeitinfrastruktur bis zum Jahr 2012. In diesem Jahr wurde die Einführung von "Sport.Mals" als Dachmarke vollzogen. Diese Dachmarke vereint den Erlebnisberg Watles, SportWell Mals und das Nordic Center "Schlinig Langlauf". Die gebündelte Darstellung hebt die sportliche Vielfalt und die Ganzjahres-Erlebnisse hervor, die Mals seinen Bewohnern und Besuchern zu bieten hat. Der ASV Mals präsentiert sich somit als eine dynamische und vielseitige Institution, die ein breites Spektrum an Sportmöglichkeiten und Ganzjahres-Erlebnissen für seine Mitglieder und die Gemeinschaft bereithält.'
		/>

		<GeschichteSnipet 
			number1="20"
			number2="18"
			imageSrc={pic2018.src}
			imageAlt="2018"
			textContent="Ein weiterer Meilenstein in der Geschichte des ASV Mals war die Gründung der Sektion Volleyball im Jahr 2018. Mit großer Euphorie und Enthusiasmus wurde dieses neue Kapitel im Verein eingeleitet, dass nicht nur die Vielfalt des sportlichen Angebots erweiterte, sondern auch neue Möglichkeiten für Mitglieder und Interessierte schuf. Auch diese hat sich schon als fester Bestandteil etabliert und weist eine erfolgreiche Jugendarbeit auf. Der Erfolg in der Jugendarbeit bestätigt die nachhaltige Strategie des ASV Mals, junge Talente zu fördern und eine vielseitige sportliche Gemeinschaft aufzubauen."
		/>

		<GeschichteSnipet 
			number1="20"
			number2="23"
			imageSrc={pic2023.src}
			imageAlt="2023"
			textContent="Im Jahr 2023 wurde die bisher jüngste Sektion, Schwimmen, gegründet. Diese aufstrebende Gruppe steht bereits in den Startlöchern und blickt mit großer Vorfreude und Zuversicht auf eine erfolgreiche Zukunft."
		/>


		<Footer />
	</body>
</html>

