---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SektionBanner from '../components/SektionBanner.astro';
import SektionShort from '../components/SektionShort.astro';
import tennisPic2 from '../images/index/tennis.svg';
import tennisPic from '../images/banner/BannerTennisplatz.webp';
import tennisball from '../images/tennis/tennisball.png';

---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ASV Mals</title>
    <style is:global>
        @import '../styles/global.css'; 
      </style>
    <link rel="preload" href="/fonts/univermag.ttf" as="font" type="font/ttf" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

  <Header></Header>

  
	<SektionBanner
	Sektion="Tennis"
	Banner={tennisPic.src}
	BannerMobile={tennisPic.src}
	Icon={tennisPic2.src}
	/>


	<SektionShort
	Sektionsleiter="René Pfeifer" 
	Telefon="+39 347 2532777"
	Emailyes="Email"
	Email="tennis@asvmals.com" 
	Image1Big={tennisball.src} 
	Image1Small={tennisball.src} 
	Image1Alt="sportplatz"
	/>

	
  <Footer></Footer>

</body>
</html>
