---
import asvm from '../images/sponsor/asvm.webp';
import asvm2 from '../images/sponsor/asvm2.webp';
import asvm3 from '../images/sponsor/asvm3.webp';
import asvm4 from '../images/sponsor/asvm4.webp';
import asvm5 from '../images/sponsor/asvm5.webp';
import asvm6 from '../images/sponsor/asvm6.webp';
import asvm7 from '../images/sponsor/asvm7.webp';
import asvm8 from '../images/sponsor/asvm8.webp';
import asvm9 from '../images/sponsor/asvm9.webp';
import asvm10 from '../images/sponsor/asvm10.webp';
import asvm11 from '../images/sponsor/asvm11.webp';
import asvm12 from '../images/sponsor/asvm12.webp';
import asvm13 from '../images/sponsor/asvm13.webp';
import asvm14 from '../images/sponsor/asvm14.webp';
import asvm15 from '../images/sponsor/asvm15.webp';
import asvm16 from '../images/sponsor/asvm16.webp';
import asvm17 from '../images/sponsor/asvm17.webp';
import asvm18 from '../images/sponsor/asvm18.webp';
import asvm19 from '../images/sponsor/asvm19.webp';
import asvm20 from '../images/sponsor/asvm20.webp';
import asvm21 from '../images/sponsor/asvm21.webp';
import asvm22 from '../images/sponsor/asvm22.webp';

---

<div class="container">
	<div class="mt-14">
		<div class="col-12">
			<div class="marquee-full-width">
				<div class="marquee-box">
					<div class="marquee">
						<figure>
							<img src={asvm.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm2.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm3.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm4.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm5.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm6.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm7.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm8.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm9.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm10.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm11.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm12.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm13.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm14.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm15.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm16.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm17.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm18.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm19.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm20.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm21.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
						  <figure>
							<img src={asvm22.src} alt="featured creator" />
							<figcaption>Sanjeev Kapoor Academy</figcaption>
						  </figure>
					</div>
				</div>
			</div>
		</div>
	</div>


	<style>
	.container {
    max-width: 100%;
}
		.marquee-full-width {
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}
.marquee-box {
	overflow-x: hidden !important;
	display: flex !important;
	flex-direction: row !important;
	position: relative;
	width: 100%;
}
.marquee {
	flex: 0 0 auto;
	min-width: 100%;
	z-index: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	animation: marqueescroll 70s linear 0s infinite;
	animation-play-state: running;
	animation-delay: 0s;
	animation-direction: normal;
}
.marquee figure
{
	margin-right: 1rem;
	margin-left: 1rem;
	max-width: 250px;	
	text-align: center;
	vertical-align: top;
}
.marquee figcaption
{
	display:none;
	font-weight: 80%;
	color: #333;
	line-height: 1.2;
}
.marquee img
{
	margin: 0 auto;
	height: auto;
	max-height: 3.5rem;
	max-width: 100%;
	background: #fdfdfd;
	border: none;
}
.marquee-box:hover div {
	animation-play-state: running;
}
.marquee-box:active div {
	animation-play-state: running;
}
@keyframes marqueescroll {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}
.marquee-full-width {
    position: relative;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
}


	</style>