---
const { Sektionsleiter, Telefon, Email, Insta, Instayes, Facebook, Facebookyes, Web, Webadress, Fotogalerie, Kader, News, Image1Big, Image1Small, Image2Big, Image2Small, Image1Alt, Image2Alt} = Astro.props;

---


<div class="flex font-univermag flex-col lg:flex-row">
    <div class="w-full lg:w-1/2 h-100 bg-primary flex flex-col text-white relative">
        <div class="w-full h-px bg-secondary mt-8"></div>
        <div class="relative ml-7 text-white">
            <div class="text-5xl md:text-6xl font-univermag">Infos</div>
        </div>
    
        <div class="flex-grow"></div> 
    
        <div class="relative ml-7 mb-7 mt-16 lg:mt-0 lg:flex">
            <div class="hidden lg:block">
                <table class="text-xl font-oskari-g2">
                    <tr>
                        <td class="pr-10 uppercase">Sektionsleiter</td>
                        <td>{Sektionsleiter}</td>
                    </tr>
                    <tr>
                        <td class="uppercase">Telefon</td>
                        <td>{Telefon}</td>
                    </tr>
                    <tr>
                        <td class="uppercase">Email</td>
                        <td>{Email}</td>
                    </tr>
                </table>
            </div>

            <div class="lg:hidden">
                <table class="text-xl font-oskari-g2 mb-7">
                    <tr>
                        <td class="pr-10 uppercase font-bold">Sektionsleiter</td>
                    </tr>
                    <tr>
                        <td>{Sektionsleiter}</td>
                    </tr>
                    <tr>
                        <td class="uppercase font-bold">Telefon</td>
                    </tr>
                    <tr>
                        <td>{Telefon}</td>
                    </tr>
                    <tr>
                        <td class="uppercase font-bold">Email</td>
                    </tr>
                    <tr>
                        <td>{Email}</td>
                    </tr>
                </table>
                
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const webLink1 = document.getElementById('web-link-1');
                    const webLink2 = document.getElementById('web-link-2');
                    const webLink3 = document.getElementById('web-link-3');
                    if (webLink1) {
                        webLink1.addEventListener('click', function() {
                            window.location.href = webLink1.dataset.url;
                        });
                    }
                    if (webLink2) {
                        webLink2.addEventListener('click', function() {
                            window.location.href = webLink2.dataset.url;
                        });
                    }
                    if (webLink3) {
                        webLink3.addEventListener('click', function() {
                            window.location.href = webLink3.dataset.url;
                        });
                    }
                });
            </script>
            <div class="lg:ml-auto lg:flex-col-reverse">
                <table class="text-xl font-oskari-g2 uppercase mr-7 lg:text-right  mt-4 lg:mt-0">
                    <tr>  
                        <td id="web-link-1" data-url={Webadress} style="cursor: pointer;" class="hover:text-secondary">{Web}</td>
                    </tr>
                    <tr>
                        <td id="web-link-2" data-url={Insta} style="cursor: pointer;" class="hover:text-secondary">{Instayes}</td>
                    </tr>
                    <tr>
                        <td id="web-link-3" data-url={Facebook} style="cursor: pointer;" class="hover:text-secondary">{Facebookyes}</td>
                    </tr>
                </table>
            </div>
            
           

        </div>
        
    </div>
    
    <div class="w-full lg:w-1/2 h-100 flex items-center justify-center">
        <img class="lg:hidden object-cover" src={Image1Small} alt={Image1Alt} />
        <img class="lg:block hidden object-cover" src={Image1Big} alt={Image1Alt} />
    </div>
</div>



<div class="flex font-univermag flex-col lg:flex-row">
    <div class="order-1 lg:order-2 w-full lg:w-1/2 h-100 bg-primary flex flex-col text-white relative">
        <div class="w-full h-px bg-secondary mt-8"></div>
        <div class="relative ml-7 text-white">
        </div>
    
        <div class="flex-grow"></div> 
    
        <div class="flex lg:justify-end">
            <div class="ml-7 mb-7 mt-16 lg:mt-0">
                <table class="font-oskari-g2 text-2xl uppercase lg:text-right mr-7">
                    <tr>
                        <td><a href="/news" class="hover:text-secondary" >{News}</a></td>
                    </tr>
                    <tr>
                        <td>{Kader}</td>
                    </tr>
                    <tr>
                        <td><a href="#fotogalerie" class="hover:text-secondary">Fotogalerie</a></td>
                    </tr>
                </table>
            </div>
        </div>
        
        
    </div>
    
    <div class="order-2 lg:order-1 w-full lg:w-1/2 h-100 flex items-center justify-center">
        <img class="hidden lg:block" src={Image2Big} alt={Image2Alt} />
        <img class="lg:hidden" src={Image2Small} alt={Image2Alt} />

    </div>
</div>



