---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Gallery from '../components/Gallery.astro';
import Banner from '../images/fussball/bannerFussball.jpg';
import fussballPic from '../images/fussball/fussball.svg';
import raffiPic from '../images/fussball/raffi.jpg';
import raffiLg from '../images/fussball/raffi_lg.jpg';
import preGameLg from '../images/fussball/pregameLg.jpg';
import preGamesd from '../images/fussball/pregame_sd.jpg';
import pregamePic from '../images/fussball/pregame.png';
import spacePic from '../images/fussball/space.png';
import wieserPic from '../images/fussball/wieser.png';
import MannschaftPic from '../images/fussball/Mannschaft.jpg';
import tizianPic from '../images/fussball/tizian.png';
import torjubelPic from '../images/fussball/torjubel.png';
import mentaPic from '../images/fussball/menta.png';
import schoepfPic from '../images/fussball/schoepf.png';
import ceolPic from '../images/fussball/ceol.png';
import trainingPic from '../images/fussball/training.png';

---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ASV Mals</title>
    <!-- Include global CSS first -->
    <style is:global>
        @import '../styles/global.css'; 
      </style>
    <link rel="preload" href="/fonts/univermag.ttf" as="font" type="font/ttf" crossorigin>

    <!-- Then include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

  <Header></Header>


  
  




    
    <div style="position: relative; max-height: 100vh;">
		<img
			src={Banner.src}
			alt="Jubel"
			style="width: 100%; height: calc(100vh - 2rem); object-fit: cover; object-position: 50% 50%;"
		/>

      <div style="position: absolute; bottom: 0; left: 0;">
          <table class="mb-4" >
            <tr>
              <td style="padding-left: 28px;">
                <img
                  src={fussballPic.src}
                  alt="Fussball"
                  style="width:100px;"
                  class="hidden lg:inline-block mr-14"
                />
				<img
                  src={fussballPic.src}
                  alt="Fussball"
                  style="width:70px;"
                  class="lg:hidden inline-block mr-3"
                />
              </td>

			  <td> 
                <div class="text-5xl lg:text-8xl font-univermag text-white">Fussball</div>
              </td>
            </tr>
          </table>
        </div>
    </div>


	<div class="flex font-univermag flex-col lg:flex-row">
		<div class="w-full lg:w-1/2 h-100 bg-primary flex flex-col text-white relative">
			<div class="w-full h-px bg-secondary mt-8"></div>
			<div class="relative ml-7 text-white">
				<div class="text-5xl md:text-6xl font-univermag">Infos</div>
			</div>
		
			<div class="flex-grow"></div> 
		
			<div class="relative ml-7 mb-7 mt-16 lg:mt-0 lg:flex">
				<div class="hidden lg:block">
					<table class="text-xl font-oskari-g2">
						<tr>
							<td class="pr-10 uppercase">Sektionsleiter</td>
							<td>Roland Mur</td>
						</tr>
						<tr>
							<td class="uppercase">Telefon</td>
							<td>+39 3772410000</td>
						</tr>
						<tr>
							<td class="uppercase">Email</td>
							<td>rolandmur@gmail.com</td>
						</tr>
					</table>
				</div>

				<div class="lg:hidden">
					<table class="text-xl font-oskari-g2 mb-7">
						<tr>
							<td class="pr-10 uppercase">Sektionsleiter</td>
						</tr>
						<tr>
							<td>Roland Mur</td>
						</tr>
						<tr>
							<td class="uppercase">Telefon</td>
						</tr>
						<tr>
							<td>+39 3772410000</td>
						</tr>
						<tr>
							<td class="uppercase">Email</td>
						</tr>
						<tr>
							<td>rolandmur@gmail.com</td>
						</tr>
					</table>
				</div>
				
				<div class="lg:ml-auto">
					<table class="text-xl font-oskari-g2 uppercase mr-7 lg:text-right mt-4 lg:mt-0">
						<tr>
							<td>Web</td>
						</tr>
						<tr>
							<td>Instagram</td>
						</tr>
						<tr>
							<td>Facebook</td>
						</tr>
					</table>
				</div>
			</div>
			
		</div>
		
		<div class="w-full lg:w-1/2 h-100 flex items-center justify-center">
			<img class="lg:hidden object-cover" src={raffiPic.src} alt="Raffael" />
			<img class="lg:block hidden object-cover" src={raffiLg.src} alt="Raffael" />
		</div>
	</div>
	
	

	<div class="flex font-univermag flex-col lg:flex-row">
		<div class="order-1 lg:order-2 w-full lg:w-1/2 h-100 bg-primary flex flex-col text-white relative">
			<div class="w-full h-px bg-secondary mt-8"></div>
			<div class="relative ml-7 text-white">
			</div>
		
			<div class="flex-grow"></div> 
		
			<div class="flex lg:justify-end">
				<div class="ml-7 mb-7 mt-16 lg:mt-0">
					<table class="font-oskari-g2 text-2xl uppercase lg:text-right mr-7">
						<tr>
							<td><a href="/news">News</a></td>
						</tr>
						<tr>
							<td>Kader</td>
						</tr>
						<tr>
							<td>Erfolge</td>
						</tr>
						<tr>
							<td>Fotogalerie</td>
						</tr>
					</table>
				</div>
			</div>
			
			
		</div>
		
		<div class="order-2 lg:order-1 w-full lg:w-1/2 h-100 flex items-center justify-center">
			<img class="hidden lg:block" src={preGameLg.src} alt="Pregame" />
			<img class="lg:hidden" src={preGamesd.src} alt="Pregame" />

		</div>
	</div>

 

  <section class="Fotogalerie">
    <div class="w-full h-0.5 bg-primary mt-14"></div>

    <div class="relative ml-7">
        <div class="text-5xl md:text-6xl font-univermag text-primary mb-20">Fotogalerie</div>
    </div>

</section>

<Gallery></Gallery>
	
	<img class="hidden lg:block" src={MannschaftPic.src} alt="Actionbild" class="px-2 " />

  <Footer></Footer>

</body>
</html>
